<?xml version="1.0" encoding="utf-8"?><!--
Copyright 2010 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dennisguse.opentracks"
    android:installLocation="auto"
    android:versionCode="2947"
    android:versionName="v3.0.1"> <!-- For FDroid. -->
    <!-- Permission to initialize services -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permissions to record locations -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permissions to access sensors -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Permission to read phone state so voice announcement will not interrupt ongoing calls -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Permission to read/write external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required features -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <!-- Optional features -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony.gsm"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name=".Startup"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/ThemeCustom"
        tools:replace="android:label">
        <!-- Activities -->
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".AggregatedStatsActivity"
            android:label="@string/menu_aggregated_statistics" />
        <activity android:name=".DeleteActivity" />
        <activity
            android:name=".io.file.importer.ImportActivity"
            android:theme="@style/ThemeCustomTransparent">
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/gpx" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.google-earth.gpx" />
                <data android:mimeType="application/vnd.google-earth.gpx+xml" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name=".MarkerEditActivity" />
        <activity android:name=".MarkerDetailActivity" />
        <activity
            android:name=".MarkerListActivity"
            android:label="@string/menu_markers">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchListActivity" />
        </activity>
        <activity
            android:name=".SearchListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search" />
        </activity>
        <activity
            android:name=".TrackDetailActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".TrackEditActivity" />
        <activity android:name=".TrackListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchListActivity" />
        </activity>
        <activity
            android:name=".io.file.exporter.ExportActivity"
            android:theme="@style/ThemeCustomTransparent" />
        <activity android:name=".settings.RecordingSettingsActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".settings.StatsSettingsActivity" />
        <activity
            android:name=".widgets.TrackWidgetConfigActivity"
            android:label="@string/track_widget_config_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ControlRecordingService"
            android:exported="false" />
        <service
            android:name=".services.TrackRecordingService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/ic_arrow_320"
            android:label="@string/recording_service" />
        <!-- Receivers -->
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widgets.TrackWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="TRACK_PAUSED" />
                <action android:name="TRACK_RESUMED" />
                <action android:name="TRACK_STARTED" />
                <action android:name="TRACK_STOPPED" />
                <action android:name="TRACK_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/track_widget_info" />
        </receiver>
        <!-- Providers -->
        <provider
            android:name=".content.ShareContentProvider"
            android:authorities="${applicationId}.content"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
