<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.google.android.apps.mytracks.signalstrength.test"
      android:versionCode="1"
      android:versionName="1.0">
  <application android:label="Signal Strenght Sampler Test">
    <uses-library android:name="android.test.runner" />
  </application>
  <uses-sdk android:minSdkVersion="3" />
  <instrumentation android:targetPackage="com.google.android.apps.mytracks.signalstrength"
                   android:name="android.test.InstrumentationTestRunner" />
</manifest>