name: Linting

on:
  push:
  pull_request:

jobs:
  analyse:
    name: Analyse
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - run: ./gradlew lint
