name: Linting
on:
  push:
  pull_request:

jobs:
  analyse:
    name: Analyse
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          fetch-tags: true
          fetch-depth: 0 #TODO See https://github.com/actions/checkout/issues/1471

      - uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '17'

      - run: ./gradlew lint
